.user-info {
  .elevation-1;
  border-radius: 2px;
  display: flex;
  max-width: 660px;
  margin: 5px auto 1px;
  background: #fff;

  .avatar {
    flex: 0 0 225px;
    img {
      width: 225px;
      display: block;
      border-top-left-radius: 2px;
      border-bottom-left-radius: 2px;
    }
  }
  .info {
    width: 100%;
    .info-inner {
      height: 122px;
      padding: 30px;
      h1 {
        color: #444;
        font-size: 250%;
        margin: 0 0 5px;
        line-height: 1;
      }
      & > div {
        font-weight: 300;
        color: #555;
        margin-top: 10px;
        font-size: 20px;
      }
    }
    .compose-btn, .btn {
      padding: 6px 10px 7px 13px;
    }
    .tabs {
      display: block;
      padding: 0 8px;
      background: #fafafa;
      h2 {
        margin: 0;
      }
      .selected {
        border-bottom: 2px solid;
      }
    }
  }
}
.user-info-cards {
  padding: 0 5px;
  .card {
    .elevation-1;
    background: #fff;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    h2 {
      margin: 0;
    }

    &.pic {
      padding: 0;
      img {
        width: 100px;
        height: 100px;
        vertical-align: middle;
      }
    }
    &.data {
      font-family: @code-font;
      padding: 5px 4px 7px 7px;
      code {
        border: 1px solid #bbb;
      }
    }
  }
  .add-new {
    color: gray;
    display: inline-block;
    padding: 5px 10px;
    margin: 0 5px 5px 0;
    h2 {
      margin: 0;
    }
    i {
      font-size: 20px;
    }
  }
}