.user-profile {
  .user-profile-about, .user-profile-contacts {
    max-width: 660px;
    margin: 1px auto;  
  }
  .user-profile-contacts {
    .user-summary .user-pic img {
      width: 210px;
      height: 210px;
    }
  }
}