.user-summary {
  display: inline-flex;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  color: #555;
  background: #fff;
  &:hover {
    background: #fafafa;
  }

  .user-pic img {
    display: block;
    width: 200px;
    height: 200px;
  }
  .name {
    flex: 1;
    font-size: 21px;
    font-weight: 300;
    padding: 20px;
  }
}

.user-summaries {
  .tabs {  
    a {
      padding: 12px 25px 12px 0;
      color: gray;
      font-weight: 100;
      font-size: 28px;
      &.selected {
        font-weight: normal;
        color: #555;
      }
    }
  }
}