.user-summary {
  display: inline-flex;
  vertical-align: top;
  flex-direction: column;
  margin: 5px;
  cursor: pointer;
  color: #555;
  background: #fff;
  &:hover {
    background: #fafafa;
  }

  .user-pic img {
    display: block;
    width: 200px;
    height: 200px;
  }
  .name {
    font-size: 21px;
    font-weight: 300;
    padding: 20px;
  }
}

.user-summaries {
  padding-top: 5px;
  .user-add {
    .user-summary;
    text-align: center;
    div:first-child {
      width: 200px;
      height: 200px;
      font-size: 41px;
      color: #aaa;
      i {
        position: relative;
        top: 70px;
      }
    }
    .name {
      color: #aaa;
    }
  }
}