
  body {
    display: flex;
    color: #555;
  }
  h1, h2, h3, h4, h5 {
    font-weight: 300;
    color: #000;
  }
  h1 {
    font-size: 3em;
    margin: 0px 0 30px 0;
    border-bottom: 1px solid gray;
  }
  h2 {
    font-size: 2.25em;
    border-bottom: 1px solid #ddd;
  }
  h3 {
    font-size: 1.75em;
  }
  h4 {
    font-size: 1.25em;
  }
  h5 {
    font-size: 1em;
  }
  p, ul, ol {
    font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
    font-size: 18px;
    font-weight: 300;
  }
  
  #leftnav {
    flex: 0 0 220px;
    background: #eee;
    border-right: 3px solid #eaeaea;    
    padding: 0px 20px 20px;
  }
  .leftnav-item {  
    position: relative;
    margin-bottom: 15px;
    padding-top: 15px;
    font-size: 21px;
    font-weight: 300;
    border-top: 1px solid #ccc;
  }
  .leftnav-item:first-child {
    border: 0;
  }
  .leftnav-subitems {
    margin-bottom: 15px;
  }
  .leftnav-subitems .leftnav-item {
    margin: 0 0 5px 15px;
    font-size: 15px;
    font-weight: normal;
    padding: 0;
    border: 0;
  }
  .leftnav-subitems .leftnav-item:before {
    content: '\25B8';
    position: absolute;
    left: -12px;
    font-size: 12px;
  }
  .leftnav-indent {
    padding-left: 15px;
  }
  .leftnav-item a {
    color: #333;
    text-decoration: none;
  }
  .leftnav-item a:hover {
    color: #000;
  }
  .leftnav-subitems .leftnav-item a {
    color: #777;
  }
  .leftnav-subitems .leftnav-item a:hover {
    color: #000;
  }
  .leftnav-item.selected a {
    color: #8EBB32;
  }
  .leftnav-item.selected a:hover {
    color: #76923B;
  }
  .leftnav-item small {
    font-size: 13px;
    color: gray;
  }
  
  #content {
    flex: 1;
    padding: 6px 20px;
  }
  