#add-friend, #add-pub {
  h1 {
    margin: 0px;
    padding: 10px 0 0;
  }
  .section {
    padding: 0 10px;
    margin: 5px;
    color: #555;
    border-radius: 2px;
  }
  .btn {
    background: #fff;
    padding: 7px 14px;
    border: 1px solid #aaa;
  }
  .fa-exclamation-triangle {
    color: #D41E1E;
  }
}