.leftnav-item {
  margin: 10px;
  a {
    color: @dark-gray4;
  }
  i {
    margin-right: 5px;
    width: 16px;
    text-align: center;
    &.fa-database {
      font-size: 13px;
    }
  }
  &.label {
    font-size: 13px;
    font-weight: bold;
    color: @gray1;
    margin-top: 20px;
  }
  &.selected {
    a {
      color: @dark-blue2;
    }
  }
}