#leftnav {
//  background: #3D94F3;
  background: linear-gradient(#3D94F3, #3D94F3 70%, #1B6ECA 100%);
}
.leftnav-item {
  display: block;
  padding: 10px;
  i {
    margin-right: 5px;
    width: 16px;
    text-align: center;
    &.fa-database {
      font-size: 13px;
    }
  }
  &.label {
    font-size: 13px;
    font-weight: bold;
    color: #ADD3FD;
  }
}

a.leftnav-item {
  color: #C4DEFB;
  &:hover, &.selected {
    background: rgba(255,255,255,0.2);    
    color: #fff;
    text-decoration: none;
  }
}