#newsfeed {
  display: flex;

  .newsfeed-leftnav {
    flex: 0 0 175px;
    
    .newsfeed-leftnav-heading {
      margin: 15px 0 5px 10px;
      font-weight: bold;
      color: gray;
      font-size: 12px;
      text-transform: uppercase;
    }

    .newsfeed-leftnav-link {
      margin: 5px 0 5px 10px;
      a {
        color: #555;
        &.selected {
          color: #006EFF;
        }
      }
      i { 
        width: 20px;
        text-align: center;
      }
    }
  }
  .newsfeed-rightnav {
    flex: 0 0 175px;
    font-weight: 300;
    color: #555;
      padding: 0 10px;

    .about {
      margin-bottom: 30px;
    }
    .config {
      .ctrl {
        margin-bottom: 10px;
        label {
          display: block;
          font-weight: bold;
          font-size: 12px;
          color: gray;
          transition: color 0.2s;
        }
        a {
          color: gray;
          transition: color 0.2s;
        }
      }
      &:hover {
        .ctrl {
          label, a {
            color: #555;
          }
        }
      }
    }
  }
  @media (min-width: 1100px) {
    .newsfeed-rightnav {
      flex: 0 0 220px;
    }
  }

  .msg-list {
    flex: 1.2;
    min-width: 600px;
  }
  .msg-thread {
    border-left: 1px solid #ccc;
    flex: 1;
  }

  .msg-list-items {
    padding-right: 5px;
    hr {
      max-width: 660px;
      margin-left: auto;
      margin-right: auto;
    }
  }

  .msg-view.summary {
    margin: 5px auto;
    max-width: 640px;
  }
}