#sync {
  background: #fafafa;
  .header {
    background: #fff;
    padding: 10px;
    .warning {
      margin-top: 10px;
      padding: 10px;
      background: #fafafa;
      font-weight: 300;
      color: #555;

      i {
        margin-right: 5px;
      }
    }
  }
  .peer {
    padding: 10px;
    border-top: 1px solid #ddd;
    &:last-child {
      border-bottom: 1px solid #ddd;
    }

    .light {
      font-weight: 300;
      color: gray;
    }
  }
}
