.address-book-controls {
  display: flex;
  max-width: 1000px;
  background: #fff;
  margin: 24px auto 0;
  border-radius: 5px;
  border: 1px solid #ccc;

  h4 {
    color: #555;
    white-space: pre;
  }
  p { 
    color: gray;
  }

  .search {
    padding: 0 24px;
    input {
      height: 30px;
      margin-top: 14px;
    }
  }

  .getcode {
    flex: 0 0 260px;
    cursor: pointer;
    padding: 0 12px 0 24px;
    border-left: 1px solid #ccc;

    &:hover {
      background: #f5f5f5;
    }
  }
}