
.composer {
  margin: 15px 24px;
  &.reply {
    margin-top: 0;
  }

  .composer-body {
    padding: 10px;
    border: 1px solid #ccc;
    background: #fff;
  }
}

.composer-header {
  position: relative;
  margin: 5px 0 0 88px;

  .composer-header-nav {
    position: absolute;
    top: 0;
    left: -40px;
    width: 38px;

    a {
      display: none;
      position: relative;
      padding: 6px 12px;
      color: gray;
      border-radius: 2px;
      cursor: pointer;
      text-shadow: 0 2px 3px rgba(0,0,0,0.15);

      &:hover {
        color: #555;
      }
      &.selected {      
        display: inline-block;
      }
    }
    &:hover {
      background: #fff;
      z-index: 1000;
      box-shadow: 2px 3px 3px rgba(0, 0, 0, 0.15);
      a {
        display: inline-block;
      }
    }
  }

  .composer-header-body {
  }
}