.header-ctrls {
  font-size: 16px;
  background: #fff;
  margin: 10px 5px;
  border: 1px solid #ccc;
  border-radius: 2px;
  padding: 5px;
  
  .navlinks {
    display: table-cell;
    white-space: pre;
    vertical-align: middle;

    a {
      display: inline-block;
      padding: 4px 15px;
      margin-right: 5px;
      font-weight: 100;
      color: #769142;

      &:hover {
        text-decoration: none;
      }
      &.selected {
        color: #5E6F3C;
      }
      &.highlight {
        background: #71A800;
        color: #FFF;
        border-radius: 2px;
      }
    }
  }
  .btns {
    display: table-cell;
    vertical-align: top;
    a { 
      display: block;
      width: 50px;
      text-align: center;
      font-size: 21px;
      color: gray;
      position: relative;
      top: 15px;
      &:hover {
        color: #666;
      }
    }
  }
  & > form {
    display: table-cell;
    width: 100%;
    input {
      border: 1px solid #ccc;
      padding: 5px 10px;
      &.search {
        padding: 5px 12px;
        border-radius: 15px;
      }
    }
  }

  &.big {
    font-size: 18px;

    .navlinks a {
      padding: 15px;
    }
  }

  &.light {

    .navlinks a {
      color: #777;
      background: #fff;
      border: 0;
      border-top: 1px solid #ccc;
      border-bottom: 3px solid #ccc;
      margin-right: 0;

      &:first-child {
        border-left: 1px solid #ccc;
      }
      &:last-child {
        border-right: 1px solid #ccc;
      }

      &:hover {
        color: #555;
      }
      &.selected {
        color: #333;
        border-bottom-color: #777;
      }
    }
  }
}