.ReactModal__Content form {
  height: 100%;
  overflow: auto;
  font-size: 110%;
  font-weight: 100;

  .toolbar {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #eee;
    margin: 0;
    box-shadow: none;
    
    .btn {
      padding: 10px 20px;
      border-radius: 0;
      font-size: 175%;
      font-weight: 100;
      &:focus {
        outline: 0;
      }
      &:disabled {
        color: #aaa !important;
        background: #eee !important;
        box-shadow: none !important;
      }

      &.ok {
        float: right;
        &:hover, &:focus {
          background: @blue1;
          color: #fff;
        }
      }
      &.cancel {  
        font-size: 150%;
        padding: 13px 20px 12px;
        &:hover, &:focus {
          background: red;
          color: #fff;
        }
      }
    }
  }
  h1 {
    font-size: 250%;
    font-weight: 100;
    margin-left: 80px;
  }
  fieldset {
    border: 0;
    padding: 0;
    width: 420px;
    margin: 0 auto;
    & > div {
      margin-bottom: 10px;
    }
  }
  label {
    span {
      display: inline-block;
      width: 70px;
      margin-right: 10px;
      text-align: right;
    }
    .btn { 
      border: 1px solid #ccc;
      color: #333;
    }
    p {
      margin-left: 80px;
      color: red;
    }
  }
  input {
    font-size: 125%;
    &:focus {
      outline: 0;
      background: #fafafa;
    }
    &[type="text"] {
      transition: background 0.2s, box-shadow 0.2s;
      padding: 2px 6px;
      border: 1px solid #aaa;
      box-shadow: inset 2px 2px 4px rgba(0,0,0,0.1);
      border-radius: 2px;
      background: #fafafa;
      &:focus {
        box-shadow: 0 2px 4px rgba(0,0,0,0.1);
        background: #fff;
      }
    }
    &[type="file"] {
      display: none;
    }
    &[type="range"] {
      width: 512px;
      margin: 0;
      padding: 0;
    }
  }
  .image-input {
    padding-bottom: 50px;
    .image-input-ctrls {
      margin-left: 80px;
      & > div {
        margin: 10px 0;
      }
    }
    canvas {
      border: 1px solid #eee;
    }
  }
}