.msg-view {
  border: 1px solid @light-gray2;
  margin-bottom: 6px;
  background: @white3;

  .header {
    background: @white2;
    padding: 10px 15px;
  }
  .body {
    padding: 0 10px;
    font-weight: 300;
    color: @dark-gray3;
  }
}
.msg-view-thread {
  .toolbar {
    margin: 3px 0 6px;
  }
}