.msg-thread {
  position: relative;
  .items {
    position: relative;
    padding: 0 0 100px;
  }
  .container {
    max-width: 660px;
    margin: 0px auto;
  }
  .composer {
    max-width: 583px;
    margin: 0 0 0 77px;
    padding-top: 1px; // make background take full space
    .toolbar {
      display: none;
    }
  }
}
