.msg-view {
  margin-bottom: 6px;
  background: @white3;

  .header {
    border-top: 1px solid darken(@white2, 5%);
    background: @white2;
    padding: 10px 15px;
    display: flex;
    & > div:first-child {
      flex: 1;
    }
    a {
      color: @dark-gray2;
    }
  }
  .body {
    padding: 0 10px;
    font-weight: 300;
    color: @dark-gray3;
  }
}
.msg-view-thread {
  .toolbar {
    padding: 10px;
    font-size: 18px;
    font-weight: bold;
  }
}