#page-nav {
  position: fixed;
  top: 0;
  left: 0;
  height: 38px;
  width: 100%;
  z-index: 100;
  
  white-space: nowrap;
  font-size: 15px;
  font-weight: 100;
  padding: 6px;
  background: linear-gradient(to bottom, #eee, #ddd);
  border-bottom: 1px solid #aaa;

  .page-nav-inner {
    display: flex;
    flex-direction: row;
    height: 25px;

    & > a {
      text-align: center;  
      text-decoration: none;
      padding-top: 3px;
      color: rgb(100, 98, 98);
      cursor: pointer;

      &:hover, &.selected {
        text-decoration: none;
        color: @brand-primary;
      }
    }
  }
  a.disabled, a.disabled:hover {
    color: #aaa;
    cursor: default;
  }

  .spacer {
    flex: 1;
  }

  a.button {
    position: relative;
    flex: 0 0 30px;
    height: 25px;
  }

  a.action {
    position: relative;
    top: -2px;
    height: 29px;
    padding: 3px 7px;
    margin-right: 8px;
    border-radius: 3px;
    background: linear-gradient(to bottom, #F2F2F2, #E4E2E2 7%, #DAD9D9 97%, #C2C0C0);
    border: 1px solid #ccc;
  }

  a.stat {
    position: relative;
    height: 26px;
    padding: 2px 5px 0;

    .glyphicon {
      margin-right: 2px;
    }
    .glyphicon-envelope, .glyphicon-user {
      font-size: 14px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  .unread {
    position: absolute;
    top: 0;
    left: 0;
    color: #FFFFFF;
    background: @brand-primary;
    font-size: 9px;
    border-radius: 3px;
    padding: 0 4px;
    font-weight: normal;
  }
  a:hover .unread {
    background: lighten(@brand-primary, 10%);
  }

  a.profile {
    width: 40px;
    position: relative;
    top: -7px;
    margin-right: 0;

    img {
      width: 30px;
      height: 30px;
      border-radius: 5px;
      box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.35);
    }
  }

  .divider {
    width: 1px;
    border-left: 1px solid #ccc;
    margin: 0 10px 0 2px;
  }

  input {
    position: relative;
    top: -3px;
    flex: 1;
    height: 31px;
    padding: 0 7px;
    margin: 0 5px;
    font-size: 14px;
    color: #808080;
    outline: 0;
    box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
    background: #fff;
    border: 1px solid #bbb;

    &:focus, &:active, &:hover {
      outline: 0;
      box-shadow: inset 0px 1px 2px rgba(0, 0, 0, 0.2);
      background: #fff;
      border: 1px solid #bbb;
    }
  }
  
  .address-icon {
    position: relative;
    .glyphicon {
      position: absolute;
      right: 20px;
      top: 6px;
      color: #666;
    }
  }
}