table.pretty-raw {
  word-break: normal;
  td {
    padding: 5px;
    border: 1px solid #ddd;
    &:last-child {
      word-break: break-word;
    }
  }
}
div.pretty-raw {
  &>div {
    margin-right: 10px;
  }
}