.rightnav {
  position: absolute;
  width: 175px;
  flex: 0 0 175px;
  right: 0;
  z-index: 1;

  a.btn {
    display: block;
    margin: 10px 10px 0 0;
    padding: 10px;
  }
  .dropdown {
    margin-right: 10px;
  }
  hr {
    margin-right: 10px;
  }
  .toolbar {
    background: none;
    border: 0;
    margin-top: 5px;
    margin-bottom: 35px;
    a {
      color: #555;
      font-size: 23px;
    }
    .user-pic img {
      width: 32px;
      height: 32px;
      border-radius: 2px;
    }
  }
}
@media(max-width: 1000px) {
  .rightnav {
    display: none;
  }
}