.rightnav {
  position: absolute;
  width: 175px;
  right: 0;
  z-index: 1;

  a {
    .elevation-1;
    display: block;
    background: #fafafa;
    margin: 10px 10px 0 0;
    padding: 10px;
    color: gray;
    &:hover {
      background: #fff;
      text-decoration: none;
    }
  }
}