.sidenav {
  margin-top: 8px;
  a {
    color: #666;
  }
  h4 {
    margin: 0;
    color: gray;
  }
  .pubstats {
    font-size: 21px;
    cursor: pointer;
    padding: 5px;
    margin-bottom: -5px;
    &:hover {
      background: #ddd;
    }
    p {
      margin: 0;
    }
    a {
      color: #333;
    }
    .name a {
      font-weight: bold;
      color: #333;
    }
  }
  .view {
    font-size: 15px;
    small {
      color: gray;
    }
  }
  label {
    input {
      font-size: 16px;
    }
    top: 1px;
    position: relative;
    font-size: 15px;
    color: #666;
    font-weight: normal;
    cursor: pointer;
  }
  .filters {
    color: #555;
    display: inline-block;
    font-size: 15px;
    label {
      margin: 0 0 0 5px;
    }
  }
  li {
    margin-bottom: 5px;
  }
  hr {
    border-color: #ddd;
    margin: 30px 0;
  }
}