.titlebar {
  .elevation-toolbar;
  height: 33px;
  background: #FAFAFA;
  a {
    display: block;
    padding: 1px 0 3px;
    text-align: center;
    font-size: 24px;
    color: rgb(104, 120, 144);
    &:hover {
      color: rgb(57, 65, 77);
    }
  }
}