.topic-list {
  .search input {
    width: 100%;
    box-sizing: border-box;
    padding: 9px;
    transition: background 0.2s;
    border: 0;
    border-bottom: 1px solid #ddd;
    background: #FAFAFA;
    &:focus {
      outline: 0;
      background: #fff;
    }
  }
  .topic-list-item {
    cursor: pointer;
    background: #fff;
    border-bottom: 1px solid #ddd;
    color: gray;
    font-weight: 300;
    padding: 9px;

    &.selected {
      color: #4597F1;
    }
  }
}