.topic-list {
  .search {
    border-bottom: 1px solid #ddd;
    input {
      width: 100%;
      color: gray;
      border: 0;
      padding: 9px;
      background: #fdfdfd;
      &:focus {
        outline: 0;
      }
    }
  }
  .topic-list-item {
    cursor: pointer;
    background: #fff;
    color: gray;
    font-weight: 300;
    margin: 8px 10px;

    &.unread {
      color: #E8A541;
    }
    &.selected {
      color: #4597F1;
    }

    .ctrls {
      .pin {
        display: block;
        width: 20px;
        text-align: center;
        color: gray;
        transition: color 0.2s;
        &:hover {
          color: #555;
        }
        &.pinned {
          color: #006EFF;
          &:hover {
            color: darken(#006EFF, 10%);
          }
        }
      }
    }
  }
}