.topnav {
  max-width: 660px;
  margin: 10px auto;

  .topnav-bar {
    .elevation-1;
    background: #fff;
    border-radius: 2px;

    .compose-btn {
      border-left: 1px solid #2C64D4;
      padding: 8px 10px 7px 13px;
      transition: background 0.2s, color 0.2s;
      background: #4880F1;
      color: #E5F1FF;
      border-top-right-radius: 2px;
      border-bottom-right-radius: 2px;

      &:hover {
        text-decoration: none;
        color: #FFF;
        background: #2889F7;
      }

      &.cancel {
        background: #b34e4d;
        border-left: 1px solid #922D2C;
        color: #FDECEC;

        &:hover {
          background: #C34342;
          color: #fff;
        }
      }

      i {
        position: relative;
        top: 1px;
      }
    }
  }
  .topnav-content {
    a {
      color: gray;
      margin: 5px;

      &.selected {
        font-weight: bold;
      }
    }
  }
}