.user-info {
  display: flex;
  padding: 10px;

  .avatar {
    flex: 0 0 281px;
    img {
      width: 275px;
      border-radius: 5px;
    }
  }
  .facts {
    padding-left: 30px;
    padding-bottom: 30px;
    h1 {
      color: #444;
      font-size: 250%;
      margin-bottom: 5px;
      line-height: 1;
    }
    pre {        
      margin: 0 0 10px;
      border: 0;
      background: #fafafa;
    }
    .btn-group {
      display: flex;
      width: 275px;
      .btn:first-child {
        flex: 0 0 83px;
        text-align: center;
      }
      .btn:last-child {
        flex: 1;
        text-align: center;
      }
    }
    table {
      margin-top: 5px;
      font-family: @content-font;
      font-weight: 100;
      color: #555;
      td {
        vertical-align: top;
        padding-right: 5px;
        padding-top: 4px;
        &:first-child {
          text-align: right;
        }
      }
    }
  }
}

.user-info-card {
  .elevation-card;
  display: inline-block;
  background: #fff;
  margin: 20px;
  font-family: @content-font;
  font-weight: 100;
  color: #555;
  vertical-align: top;
  h3 {
    margin: 0;
    padding: 15px;
    border-bottom: 1px solid #ddd;
  }
  & > div {
    padding: 15px;
    background: #fafafa;
    .user-plaque {
      margin: 10px;
      img {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        margin-right: 4px;
        border-radius: 2px;
      }
      a {
        color: #333;
      }
      &:hover {
        background: #eee;
      }
    }
  }
}