.user-list {
  .msg-list;
}

.user-list-items {
  flex: 0 0 300px;
  h3 {
    border-bottom: 1px solid #ddd;
    margin-bottom: 0;
    padding: 0 8px 8px;
  }
}

.user-list-ctrls {
  .msg-list-ctrls;
}

.user-list-view {
  .msg-list-view;
}

.user-list-item.summary {
  .msg-list-item.summary;
  height: 48px;
}