.msg-list-item.oneline {
  display: flex;

  & > div {
    border: 1px solid #ccc;
  }
  & > div:nth-child(1) {
    flex: 0 0 30px;
  }
  & > div:nth-child(2) {
    flex: 1;
  }
  & > div:nth-child(3) {
    flex: 5;
  }
  & > div:nth-child(4) {
    flex: 0 0 100px;
  }
}