// Basic Types

html, body {
  height: 100%;
}
.layout-rows {
  display: flex;
  flex-direction: column;
}
.layout-columns {
  display: flex;
}

// Sizing & Positioning

#leftnav {
  flex: 0 0 150px;
  overflow: auto;
}
#mainview {
  flex: 1;
}
#blue-title-bar {
  height: 40px;
  background: #4CA2FF;

  .page-ctrls {
    display: flex;
    a {
      font-size: 31px;
      color: #fff;
      transition: 0.2s text-shadow;
      margin-left: 10px;

      &:hover {
        color: #fff;
        text-shadow: 0px 4px 8px rgba(0, 0, 0, 0.15);
      }
    }
    input {
      border: 0;
      padding: 6px 10px;
      margin: 4px 0px 10px 4px;
      font-weight: 100;
      border-radius: 2px;
      background: #eee;
      transition: 0.2s box-shadow, 0.2s background;
      &:active, &:focus, &:hover {
        outline: 0;
        background: #fff;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.15);
      }
    }
  }
}