.tabs a {
  display: inline-block;
  padding: 10px 20px;
  color: gray;
  transition: box-shadow 0.2s, background 0.2s, color 0.2s;

  &:hover {
    .elevation-btn-raised;
    background: #fff;
    text-decoration: none;
  }
  &.selected {
    border-bottom: 3px solid gray;
    padding-bottom: 7px;
    color: #555;
  }
  &:active {
    background: #fff;
  }
}