.message {
  background-color: white;
  padding: 10px;
}

.scroller__wrapper {
  width: 600px;
  padding: 20px;
}

.compose__controls > input[type=file] {
  flex: 1;
  padding: 5px;
}

a.avatar {
  display: inline;
  font-weight: bold;
}

div.avatar > a.avatar {
  display: flex;
  font-size: 120%;
}

img.emoji {
  width: 1.5em;
  height: 1.5em;
  align-content: center;
  margin-top: -0.2em;
}
