.msg-view.summary {
  display: flex;
  overflow: hidden;
  max-width: 660px;
  margin: 1px auto;
  min-height: 80px;

  .left-meta {
    flex: 0 0 70px;
    a {
      margin: 10px 0 0;
      display: block;
    }
    img {
      width: 60px;
      border-radius: 3px;
    }
  }
  .content {
    .elevation-1;
    flex: 1;
    padding: 10px;
    background: #fdfdfd;
  }

  .header {
    display: flex;
    margin-bottom: 5px;
    font-size: 16px;
    font-weight: 300;
    color: @gray1;

    .header-left {
      flex: 1;
    }
    i {
      color: @dark-gray3;
    }
    a {
      color: #8694a7;
    }
  }
  .body {
    overflow: hidden;
    color: @dark-gray3;
    font-weight: 300;
    font-family: Helvetica;
    line-height: 1.4;

    .body-line {
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
      &:nth-child(2) {
        color: gray;
        font-weight: 100;
      }
    }
    img {
      border-radius: 4px;
      border: 1px solid transparent;
      &:hover {
        border-color: #ccc;
      }
    }
  }
  .footer {
    display: flex;
    color: #aab8c2;
    font-size: 18px;
    margin-top: 5px;
    & > div {
      padding: 0 20px;
    }
  }

  &.unread .content {
    background: #fff;
  }

  .content:hover {
    background: #fafafa;
    cursor: pointer;
  }
}